@import ../libs/include-media/dist/include-media
@import utils/special-version-variables
@import utils/functions
@import utils/mixins
@import utils/placeholders

/*=========== SPECIAL VERSION ===========
/* normalize
/* ============================================================
//@import ../_temp/normalize/import-now
//@import base/reset-for-normalize

.vspec--hide-page
	display: none !important

html
	-webkit-text-size-adjust: none

html[class*="vspec"]
	background: none

body.#{$spec-mod}
	//+spec-font-size--normal
	margin: 0
	padding: 0
	font-family: $spec-font-style--sans-serif
	font-weight: normal
	font-style: normal
	color: $spec-text-color
	background: $spec-bg-color url(../i/empty.png) no-repeat fixed
	-webkit-font-smoothing: antialiased
	+spec-font-size--medium()
	+spec-line-height--medium()

// no css filters
.no-cssfilters .hide-no-cssfilters
	display: none !important

/* special version settings
/* ============================================================

body.#{$spec-mod}
	// >>> Font Style <<<
	// Специальная версия: Шрифт без засечек (sans-serif)
	// ================================================================
	.#{$spec-mod--sans-serif} &
		font-family: $spec-font-style--sans-serif

	// Специальная версия: Шрифт с засечками (serif)
	// ================================================================
	.#{$spec-mod--serif} &
		font-family: $spec-font-style--serif

	// Специальная версия: Моноширинный шрифт (monospace)
	// ================================================================
	.#{$spec-mod--monospace} &
		font-family: $spec-font-style--monospace

	// >>> Font Size <<<
	// Специальная версия: Стандартный базовый шрифт
	// ================================================================
	.#{$spec-mod--font-medium} &
		+spec-font-size--medium()

	// Специальная версия: Уменьшенный базовый шрифт
	// ================================================================
	.#{$spec-mod--font-small} &
		+spec-font-size--small()

	// Специальная версия: Увеличенный базовый шрифт
	// ================================================================
	.#{$spec-mod--font-large} &
		+spec-font-size--large()

	// >>> Line Height <<<
	// Специальная версия: Междустрочный интервал - Одинарный
	// ================================================================
	.#{$spec-mod--line-height-small} &
		+spec-line-height--small()

	// Специальная версия: Междустрочный интервал - Полуторный (нормальный)
	// ================================================================
	.#{$spec-mod--line-height-medium} &
		+spec-line-height--medium()

	// Специальная версия: Междустрочный интервал - Двойной
	// ================================================================
	.#{$spec-mod--line-height-large} &
		+spec-line-height--large()

	// >>> Letter Spacing <<<
	// Специальная версия: Средний межбуквенный интервал
	// ================================================================
	.#{$spec-mod--spacing-medium} &
		letter-spacing: $spec-letter-spacing--medium
		word-spacing: $spec-letter-spacing--medium

	// Специальная версия: Бальшой межбуквенный интервал
	// ================================================================
	.#{$spec-mod--spacing-large} &
		letter-spacing: $spec-letter-spacing--large
		word-spacing: $spec-letter-spacing--large

	// >>> Color scheme <<<
	// Специальная версия: Цветовая схема - Белым по черному
	// ================================================================
	.#{$spec-mod--scheme-wb} &
		color: $spec-text-color--scheme-wb
		background-color: $spec-bg-color--scheme-wb

	// Специальная версия: Цветовая схема - Синим по голубому
	// ================================================================
	.#{$spec-mod--scheme-blue} &
		color: $spec-text-color--scheme-blue
		background-color: $spec-bg-color--scheme-blue

	// Специальная версия: Цветовая схема - Коричневым по бежевому
	// ================================================================
	.#{$spec-mod--scheme-brown} &
		color: $spec-text-color--scheme-brown
		background-color: $spec-bg-color--scheme-brown

	// Специальная версия: Цветовая схема - Зеленым по темно-коричневому
	// ================================================================
	.#{$spec-mod--scheme-green} &
		color: $spec-text-color--scheme-green
		background-color: $spec-bg-color--scheme-green

/* special version base styles
/* ============================================================
@import components/special-version-base

/* special version reset
/* ============================================================

// reset all styles
// ------------------------------------------------------------
@import spec/reset-full

// svg color reset
// ------------------------------------------------------------
@import spec/svg

// reset font
// ------------------------------------------------------------
@import spec/fonts

// hide elements
// ------------------------------------------------------------
@import spec/hide

// special vertical space
// ------------------------------------------------------------
@import spec/spaces

// reset images
// ------------------------------------------------------------
@import spec/img

// reset slider
// ------------------------------------------------------------
//@import spec/slider

// layout spaces
// ------------------------------------------------------------
@import spec/layout

/* special version buttons
/* ============================================================

@import spec/btn

/* special version typography
/* ============================================================

@import spec/typography

/* special version components
/* ============================================================

.#{$spec-mod}
	// перебить костыли
	[style*="font-family"],
	[style*="FONT-FAMILY"]
		font-family: inherit !important

	[style*="font-size"],
	[style*="FONT-SIZE"]
		font-size: inherit !important

	[style*="line-height"],
	[style*="LINE-HEIGHT"]
		line-height: inherit !important

	[style*="color"],
	[style*="COLOR"]
		color: inherit !important

	[style*="letter-spacing"],
	[style*="LETTER-SPACING"]
		letter-spacing: inherit !important

	[style*="background-color"],
	[style*="BACKGROUND-COLOR"]
		background-color: transparent !important

	[color]
		color: inherit !important
		font-weight: bold

	table[width]
		width: auto !important

	table[height]
		height: auto !important

	img[style*="border"]
		border: none !important

	p:empty
		display: none !important

	//.wrapper,
	//.header,
	//.container,
	//.footer
		position: relative

	//.wrapper
		padding-bottom: 4em
		overflow: hidden

	//.header
		border-bottom: $spec-border-width solid currentColor
		padding-bottom: 2em
		margin-bottom: 2em

	//.footer
		padding-top: 0
		padding-bottom: 4em

	.logo-spec-wrap
		display: block
		margin-bottom: 1.2em
		font-size: inherit
		line-height: 1
		text-align: center

		.logo-spec
			box-sizing: border-box
			+font(1.2em, 1.3)
			font-weight: bold
			text-decoration: none
			//text-transform: uppercase
			//margin-right: 3em

			//+media('<tab-lg')
				+font(1em, 1.2)

			+media('<mob-md')
				+font(1em, 1.2)
				text-transform: uppercase
				//margin-right: 3.6em

			// for ie 9
			//.no-flexwrap &
				display: block
				padding-top: 10px

			& > span
				display: inline-block
				vertical-align: top
				//max-width: 20em

		// hover
		a.logo-spec
			&:hover
				& > span
					text-decoration: underline

		&.has-logotype
			display: flex
			justify-content: center
			text-align: left

			.logo-spec
				display: flex
				justify-content: flex-start
				align-items: center

				svg
					display: inline-block
					vertical-align: top
					+size(3.2em)
					margin-right: 1em
					flex-shrink: 0

					+media('<tab-lg')
						+size(3.2em)
						margin-right: 0.8em

					+media('<mob-md')
						margin-right: 0.5em



@import components/navigation

///*======================================================*/
///* PRINT VERSION
///*======================================================*/
//@import print/print

/*=========== SPECIAL VERSION end ===========